name: Regression suite

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-tests:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3.6.0

      - name: Set up Python
        uses: actions/setup-python@v3.1.4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          mkdir -p reports
          pytest -s --html=reports/report.html --self-contained-html

      - name: Upload test report
        uses: actions/upload-artifact@v2
        with:
          name: test-report
          path: reports/report.html
